@use './colors' as colors;
@use './dimensions' as dimensions;

.dashboard-card {
  background-color: colors.$background-panel;
  border-radius: dimensions.$border-radius-medium;
  color: colors.$text-main;
  width: 900px;
  padding: 0 dimensions.$padding-large dimensions.$padding-large;

  .chart-container {
    height: 450px;
  }
}
