<main class="expense-container">
  <router-outlet name="menu"></router-outlet>

  <div *ngIf="!isLoading" class="expense-content-container">
    <div class="title-container">
      <span class="title">Incomings</span>
      <span class="subtitle">Watch your incomings and your growth</span>
    </div>

    <div class="content-wrapper">
      <fin-man-extended-balance-panel
        *ngIf="incomeCategoryIds.length && personalTransactions.length"
        [incomeCategoryIds]="incomeCategoryIds"
        [incomeCategoryNames]="incomeCategoryNames"
        [expenseCategoryIds]="expenseCategoryIds"
        [expenseCategoryNames]="expenseCategoryNames"
        [personalTransactions]="allTransactions"
      ></fin-man-extended-balance-panel>

      <fin-man-transaction-panel
        [categoryNames]="expenseCategoryNames.concat(incomeCategoryNames)"
        [extendedPanel]="true"
        [transactionData]="personalTransactions"
        [panelTitle]="'Incomings'"
        (openModal)="openModal()"
      ></fin-man-transaction-panel>

      <fin-man-pie-chart
        [title]="'Incomings Distribution'"
        [subtitle]="'Share of the categories in total incomings'"
        [firstHue]="26.5"
        [smallChart]="true"
        [categories]="incomeCategories"
        [personalData]="personalTransactions"
      ></fin-man-pie-chart>
    </div>
  </div>
</main>

<finance-manager-add-transaction-modal
  *ngIf="
    isModalVisible && expenseCategories.length && incomeCategories.length && paymentMethods.length
  "
  [isVisible]="isModalVisible"
  [expenseCategories]="expenseCategories"
  [incomeCategories]="incomeCategories"
  [paymentMethods]="paymentMethods"
  [path]="'/personal-finance/incomings'"
  (close)="closeModal()"
></finance-manager-add-transaction-modal>
