// **Background Colors**
$background-main: #141414; // Main background color (for the whole app)
$background-panel: #242424; // Panel background (e.g., charts, lists)
$background-table-row: #343434; // Table row and filter/search elements background
$background-table-row-hover: darken($background-table-row, 3%); // Hover state for table rows
$background-inner-panel: #444444; // Inner panel background (e.g., user info, forms)
$background-inner-panel-hover: darken($background-inner-panel, 3%); // Hover state for inner panels

// **Text Colors**
$text-main: #ffffff; // Main text color (headings, table data)
$darker-text-main: #b0b0b0;
$text-secondary: #878787; // Secondary text (for less important information)
$text-secondary-hover: #b0b0b0; // Hover state for secondary text (e.g., placeholders)
$text-link: #1e90ff; // Link text color (also for CTA buttons)
$text-link-hover: darken($text-link, 10%); // Hover state for links (slightly darker blue)

// **Accent Colors**
$light-accent-blue: #4d90fe; // Light blue for background elements (e.g., charts)
$accent-blue: #1e90ff; // Bright blue for interactive elements, headings, CTA buttons
$accent-blue-hover: darken($accent-blue, 10%); // Hover state for links (slightly darker blue)
$light-accent-green: #33ffb2;
$accent-green: #00ff99; // Green for positive values (profits, income, stock gains)
$light-accent-red: #ff5050; // Light red for background elements (e.g., charts)
$accent-red: #ff3d3d; // Red for negative values (losses, expenses, stock declines)
$accent-yellow: #ffb74d; // Yellow for warnings or neutral values (stock updates)
$accent-purple: #8e44ad;
