@use './colors' as colors;

// **SideBar Menu**
$sidebar-menu-width: 320px;
$sidebar-menu-height: 100vh;
$sidebar-nav-gap: 10px;

// **Menu Section**
$menu-section-height: 50px;

// **Register**
$register-tab-height: 50px;
$register-window-width: 500px;

// **Extended transaction table**
$extended-transaction-table-widths: 30% 20% 15% 15% 19% 1%;

$extended-transaction-table-period-widths-headers: 40% 30% 30%;
$extended-transaction-table-period-widths: 41% 31% 28% 1%;

// **Dynamic Investment Panel**
$asset-table-widths: 13% 7% 9% 9% 10% 12% 9% 9% 9% 9.5% 1.5%;
$asset-transaction-widths: 25% 25% 25% 25%;

// **Shared Components**
$input-height: 40px;
$input-icon-size: 20px;

// **Branch**
$branch-width-and-height: 40px;
$branch-item-width: 210px;
$branch-item-height: 35px;

// **Padding**
$padding-xl: 30px;
$padding-large: 20px;
$padding-md: 15px;
$padding-small: 10px;
$padding-xs: 7.5px;
$padding-xxs: 5px;

// **Gap**
$gap-lg: 20px;

// **Margins**
$margin-xxl: 40px;
$margin-xl: 30px;
$margin-large: 20px;
$margin-md: 15px;
$margin-small: 10px;
$margin-xs: 7.5px;
$margin-xxs: 5px;

// **Borders**
$border-curve: 2.5px solid colors.$text-secondary;
$border-curve-width: 2.5px;

// **Border Radius**
$border-radius-large: 15px;
$border-radius-medium: 10px;
$border-radius-small: 5px;
$border-radius-xs: 2.5px;
