@use './colors' as colors;

// **SideBar Menu**
$sidebar-menu-width: 320px;
$sidebar-menu-height: 100vh;
$sidebar-nav-gap: 10px;

// **Menu Section**
$menu-section-height: 50px;

// **Register**
$register-tab-height: 50px;
$register-window-width: 500px;

// **Shared Components**
$input-height: 40px;
$input-icon-size: 20px;

// **Branch**
$branch-width-and-height: 40px;
$branch-item-width: 210px;
$branch-item-height: 35px;

// **Padding**
$padding-xl: 30px;
$padding-large: 20px;
$padding-md: 15px;
$padding-small: 10px;
$padding-xs: 7.5px;
$padding-xxs: 5px;

// **Gap**
$gap-lg: 20px;

// **Margins**
$margin-xxl: 40px;
$margin-xl: 30px;
$margin-large: 20px;
$margin-md: 15px;
$margin-small: 10px;
$margin-xs: 7.5px;
$margin-xxs: 5px;

// **Borders**
$border-curve: 2.5px solid colors.$text-secondary;
$border-curve-width: 2.5px;

// **Border Radius**
$border-radius-large: 15px;
$border-radius-medium: 10px;
$border-radius-small: 5px;
