.icon {
  display: inline-block; // Ensures the element has dimensions
  width: 25px;
  height: 25px;
  margin-right: 10px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-panel {
  display: inline-block; // Ensures the element has dimensions
  width: 50px;
  height: 50px;
  margin-right: 20px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dashboard-icon {
  &-basic {
    background-image: url('../../img/home-menu/basic/DashboardIcon.svg');
    transform: translateY(-2px);
  }

  &-highlighted {
    background-image: url('../../img/home-menu/highlighted/DashboardIcon.svg');
  }
}

.personal-finance-icon {
  &-basic {
    background-image: url('../../img/home-menu/basic/PersonalFinanceIcon.svg');
  }

  &-highlighted {
    background-image: url('../../img/home-menu/highlighted/PersonalFinanceIcon.svg');
  }
}

.investment-portfolio-icon {
  &-basic {
    background-image: url('../../img/home-menu/basic/InvestmentPortfolioIcon.svg');
  }

  &-highlighted {
    background-image: url('../../img/home-menu/highlighted/InvestmentPortfolioIcon.svg');
  }
}

.stock-exchange-icon {
  &-basic {
    background-image: url('../../img/home-menu/basic/StockExchangeIcon.svg');
  }

  &-highlighted {
    background-image: url('../../img/home-menu/highlighted/StockExchangeIcon.svg');
  }
}

.obligations-icon {
  &-basic {
    background-image: url('../../img/home-menu/basic/ObligationsIcon.svg');
  }

  &-highlighted {
    background-image: url('../../img/home-menu/highlighted/ObligationsIcon.svg');
  }
}

.reportings-icon {
  &-basic {
    background-image: url('../../img/home-menu/basic/ReportingsIcon.svg');
  }

  &-highlighted {
    background-image: url('../../img/home-menu/highlighted/ReportingsIcon.svg');
  }
}

.settings-icon {
  &-basic {
    background-image: url('../../img/home-menu/basic/SettingsIcon.svg');
  }

  &-highlighted {
    background-image: url('../../img/home-menu/highlighted/SettingsIcon.svg');
  }
}

.vector-icon {
  &-basic {
    background-image: url('../../img/home-menu/basic/VectorIcon.svg');
    width: 11px;

    position: absolute;
    right: 0;
    top: 27%;
  }

  &-highlighted {
    background-image: url('../../img/home-menu/highlighted/VectorIcon.svg');
    width: 17px;
  }
}

.username-icon {
  background-image: url('../../img/register-login/UsernameIcon.svg');
}

.email-icon {
  background-image: url('../../img/register-login/EmailIcon.svg');
}

.password-icon {
  background-image: url('../../img/register-login/PasswordIcon.svg');
}

.alert-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-image: url('../../img/register-login/AlertIcon.svg');
}

.children-icon {
  background-image: url('../../img/categories/expenses/ChildrenIcon.svg');
}

.clothing-icon {
  background-image: url('../../img/categories/expenses/ClothingIcon.svg');
}

.eating-out-icon {
  background-image: url('../../img/categories/expenses/EatingOutIcon.svg');
}

.education-icon {
  background-image: url('../../img/categories/expenses/EducationIcon.svg');
}

.electronics-icon {
  background-image: url('../../img/categories/expenses/ElectronicsIcon.svg');
}

.entertainment-icon {
  background-image: url('../../img/categories/expenses/EntertainmentIcon.svg');
}

.gifts-icon {
  background-image: url('../../img/categories/expenses/GiftsIcon.svg');
}

.groceries-icon {
  width: 25px;
  height: 30px;
  transform: translateY(3px);
  background-image: url('../../img/categories/expenses/GroceriesIcon.svg');
}

.health-icon {
  background-image: url('../../img/categories/expenses/HealthIcon.svg');
}

.hobby-icon {
  background-image: url('../../img/categories/expenses/HobbyIcon.svg');
}

.hygiene-icon {
  background-image: url('../../img/categories/expenses/HygieneIcon.svg');
}

.insurance-icon {
  background-image: url('../../img/categories/expenses/InsuranceIcon.svg');
}

.investments-icon {
  background-image: url('../../img/categories/income/InvestmentsIncomeIcon.svg');
}

.obligations-icon {
  background-image: url('../../img/categories/expenses/ObligationsIcon.svg');
}

.other-icon {
  background-image: url('../../img/categories/expenses/OtherIcon.svg');
}

.pets-icon {
  background-image: url('../../img/categories/expenses/PetsIcon.svg');
}

.rent-icon {
  background-image: url('../../img/categories/expenses/RentIcon.svg');
}

.savings-icon {
  background-image: url('../../img/categories/expenses/SavingsIcon.svg');
}

.sport-icon {
  background-image: url('../../img/categories/expenses/SportIcon.svg');
}

.subscriptions-icon {
  background-image: url('../../img/categories/expenses/TransportIcon.svg');
}

.taxes-icon {
  background-image: url('../../img/categories/expenses/TaxesIcon.svg');
}

.transport-icon {
  background-image: url('../../img/categories/expenses/TransportIcon.svg');
}

.travel-icon {
  background-image: url('../../img/categories/expenses/TravelIcon.svg');
}

.utility-icon {
  background-image: url('../../img/categories/expenses/UtilityIcon.svg');
}

.bonus-icon {
  background-image: url('../../img/categories/income/BonusIcon.svg');
}

.gift-income-icon {
  background-image: url('../../img/categories/income/GiftIncomeIcon.svg');
}

.investments-income-icon {
  background-image: url('../../img/categories/income/InvestmentsIncomeIcon.svg');
}

.salary-icon {
  background-image: url('../../img/categories/income/SalaryIcon.svg');
}

.side-gig-icon {
  background-image: url('../../img/categories/income/SideGigIcon.svg');
}

.add-icon {
  height: 17.5px;
  background-image: url('../../img/common/AddIcon.svg');
}

.filter-icon {
  background-image: url('../../img/common/FilterIcon.svg');
}

.search-icon {
  background-image: url('../../img/common/SearchIcon.svg');
}

.sort-icon {
  background-image: url('../../img/common/SortIcon.svg');
}

.common-vector-icon {
  background-image: url('../../img/common/CommonVectorIcon.svg');
  width: 11px;
}

.kebab-menu-icon {
  background-image: url('../../img/common/KebabMenuIcon.svg');
  width: 6px;
}

.savings-panel-icon {
  background-image: url('../../img/panels/SavingsPanelIcon.svg');
}

.blue-savings-icon {
  background-image: url('../../img/basic-balance-panel/BlueSavingsIcon.svg');
}

.red-taxes-icon {
  background-image: url('../../img/basic-balance-panel/RedTaxesIcon.svg');
}

.green-salary-icon {
  background-image: url('../../img/basic-balance-panel/GreenSalaryIcon.svg');
}

.info-icon {
  background-image: url('../../img/basic-balance-panel/InfoIcon.svg');
}
