<!-- investment-portfolio-modal-transaction.component.html -->
<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal">
    <div class="modal-header">
      <h2>{{ 'Create New Transaction' }}</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>

    <div class="modal-body">
      <form [formGroup]="transactionFormGroup">
        <fin-man-custom-dropdown
          [label]="'Portfolio'"
          [optionStringIds]="portfolioDataIds"
          [options]="portfolioDataNames"
          [defaultOption]="portfolioData?.[0]?.name ?? null"
          (onChangeString)="handlePortfolioChange($event)"
        ></fin-man-custom-dropdown>

        <fin-man-custom-dropdown
          [label]="'Asset'"
          [optionStringIds]="assetDataIds"
          [options]="assetDataNames"
          [defaultOption]="assetDataNames?.[0] ?? null"
          (onChangeString)="handleAssetChange($event)"
        ></fin-man-custom-dropdown>

        <div class="form-group">
          <fin-man-custom-dropdown
            [optionsIds]="transactionTypesIds"
            [options]="transactionTypesNames"
            [label]="'Transaction Type'"
            [defaultOption]="transactionTypesNames?.[0] ?? null"
            [control]="transactionFormGroup.controls.TransactionTypeID"
            (onChangeSingle)="onTransactionTypeChange()"
          ></fin-man-custom-dropdown>
        </div>

        <div class="form-group">
          <fin-man-input
            [type]="'number'"
            [label]="'Current Value of Asset'"
            [control]="transactionFormGroup.controls.CurrentValue"
            [required]="true"
            [readonly]="true"
            [disabled]="true"
          >
          </fin-man-input>
        </div>

        <div class="form-group">
          <fin-man-input
            [type]="'number'"
            [label]="'Price'"
            [placeholder]="'Enter Price'"
            [control]="transactionFormGroup.controls.Price"
            [min]="0.01"
            [required]="true"
            [allowedCharsPattern]="'[0-9.]'"
          >
          </fin-man-input>
        </div>

        <div class="form-group">
          <fin-man-input
            [type]="'number'"
            [label]="'Quantity'"
            [placeholder]="'Enter quantity'"
            [control]="transactionFormGroup.controls.Quantity"
            [min]="0.01"
            [required]="true"
            [allowedCharsPattern]="'[0-9.]'"
          >
          </fin-man-input>
        </div>

        <div class="form-group">
          <fin-man-input
            [type]="'date'"
            [label]="'Created At'"
            [control]="transactionFormGroup.controls.TransactionDate"
            [required]="true"
          ></fin-man-input>
        </div>

        <div class="add-button-modal-wrapper">
          <div class="add-button" (click)="onSubmit()">
            {{ 'Create Transaction' }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
