<main class="budgeting-container">
  <router-outlet name="menu"></router-outlet>

  <div class="budgeting-content-container">
    <div class="title-container">
      <span class="title">Budgeting</span>
      <span class="subtitle">Plan every purchase you want</span>
    </div>

    <div class="data-container">
      <div class="balance-pie-chart-wrapper">
        <fin-man-basic-balance-panel></fin-man-basic-balance-panel>

        <fin-man-pie-chart></fin-man-pie-chart>
      </div>

      <fin-man-budget-overview-panel (openModal)="openModal()"></fin-man-budget-overview-panel>
    </div>
  </div>
</main>

<finance-manager-plan-budget-category-modal
  [isVisible]="isModalVisible"
  (close)="closeModal()"
  (budgetAdded)="handleBudgetAdded($event)"
></finance-manager-plan-budget-category-modal>
