@use 'colors' as colors;
@use 'dimensions' as dimensions;
@use 'typography' as typography;
@use 'mixins' as mixins;

.portfolio-panel-container {
  background-color: colors.$background-panel;
  border-radius: dimensions.$border-radius-medium;
  padding: dimensions.$padding-md;
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: column;

  .header-wrapper {
    margin-bottom: dimensions.$margin-small;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .portfolio-header {
      font-size: typography.$font-size-h4;
      color: colors.$accent-blue;
    }

    .actions-wrapper {
      display: flex;
      gap: 20px;

      @include mixins.add-button;
    }
  }

  .assets-table-header {
    background-color: colors.$light-background-main;
    border-bottom: 2px solid colors.$text-main;
    border-radius: dimensions.$border-radius-small dimensions.$border-radius-small 0 0;
    height: 40px;
    padding: dimensions.$padding-xxs dimensions.$padding-md;

    display: grid;
    grid-template-columns: 25% 35% 20% 18% 2%; // Dostosuj proporcje według potrzeb
    gap: 5px;

    .header-cell {
      font-size: typography.$font-size-sm;
      font-weight: typography.$font-weight-bold;
      color: colors.$text-secondary;
      cursor: pointer;
      text-transform: uppercase;

      display: flex;
      align-items: center;

      &:hover {
        color: colors.$text-secondary-hover;
      }
    }
  }

  .portfolios-container {
    overflow-x: hidden;
    overflow-y: auto;

    @include mixins.scrollbar;

    .portfolio-item {
      @include mixins.transaction-items;
      height: auto;
      padding: dimensions.$padding-xxs dimensions.$padding-md;

      display: grid;
      grid-template-columns: 25% 35% 20% 18% 2%; // Dostosuj proporcje zgodnie z nagłówkami
      gap: 6px;
      width: 100%;
    }
  }
}

/* Stylizacja dla przycisku dodawania portfolio */
.portfolio-panel-container .add-button-wrapper {
  @include mixins.add-button;
}
