<main class="savings-container">
  <router-outlet name="menu"></router-outlet>

  <div class="saving-content-container">
    <div class="title-container">
      <span class="title">Savings</span>
      <span class="subtitle">Save for your dreams</span>
    </div>

    <div class="content-wrapper">
      <div class="one-side-positioning">
        <fin-man-saving-goal-panel
          [savingGoalsData]="SavingGoalsMocks"
          (openModal)="openModal()"
        ></fin-man-saving-goal-panel>
      </div>
    </div>
  </div>
</main>

<finance-manager-add-saving-modal
  [isVisible]="isModalVisible"
  (close)="closeModal()"
  (savingGoalAdded)="handleSavingsAdd($event)"
></finance-manager-add-saving-modal>
