@use 'dimensions' as dimensions;
@use 'colors' as colors;

.menu-section {
  border-radius: dimensions.$border-radius-medium;
  width: 100%;
  height: dimensions.$menu-section-height;

  display: flex;
  position: relative;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: colors.$background-main;
  }

  &-clicked {
    background-color: colors.$background-main;
  }

  &-expanded {
    height: 225px;

    &:hover {
      background-color: colors.$background-panel;
    }
  }

  .menu-item {
    color: colors.$text-secondary;
    width: 100%;
    height: dimensions.$menu-section-height;

    position: relative;
    text-decoration: none;

    &-expanded-highlight {
      background-color: colors.$background-main;
      border-radius: dimensions.$border-radius-medium;
    }

    .menu-item-position {
      height: 100%;

      position: absolute;
      left: dimensions.$padding-small;

      display: flex;
      align-items: center;

      .menu-name-hovered {
        color: colors.$text-link;
      }
    }
  }

  .tree {
    position: absolute;
    top: 50px;
    left: 20px;
  }
}
