@use './colors' as colors;
@use './dimensions' as dimensions;
@use './typography' as typography;
@use './mixins' as mixins;

.transaction-container {
  background-color: colors.$background-panel;
  border-radius: dimensions.$border-radius-medium;
  height: 750px;
  padding: dimensions.$padding-md;

  display: flex;
  flex-direction: column;

  &-extended {
    width: 900px;
  }

  &-period {
    width: 500px;
    height: 660px;
  }

  .header-wrapper {
    margin-bottom: dimensions.$margin-small;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .transaction-header {
      font-size: typography.$font-size-h4;
      color: colors.$accent-blue;

      &-period {
        font-size: typography.$font-size-xxl;
      }
    }

    @include mixins.add-button;
  }

  .transactions-list {
    @include mixins.scrollbar;

    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.transactions-table-header {
  background-color: colors.$light-background-main;
  border-bottom: 2px solid colors.$accent-red;
  border-radius: dimensions.$border-radius-small dimensions.$border-radius-small 0 0;
  height: 40px;
  padding: dimensions.$padding-xxs dimensions.$padding-md dimensions.$padding-xxs 50px;

  display: grid;
  grid-template-columns: dimensions.$extended-transaction-table-widths;

  &-period {
    grid-template-columns: dimensions.$extended-transaction-table-period-widths-headers;
  }

  &-incomings {
    border-bottom: 2px solid colors.$accent-green;
  }

  .header-cell {
    font-size: typography.$font-size-sm;
    font-weight: typography.$font-weight-bold;
    color: colors.$text-secondary; // Lekkie przyciemnienie tekstu
    cursor: pointer;
    text-transform: uppercase;

    display: flex;
    align-items: center;

    &:hover {
      color: colors.$text-secondary-hover; // Podświetlenie kolumny po najechaniu myszką
    }
  }
}
