<div class="transaction-container">
  <div class="header-wrapper">
    <h4 class="transaction-header">Transactions</h4>
    <div class="add-button-wrapper" (click)="openModal.emit()">
      <div class="icon-wrapper">
        <em class="icon add-icon"></em>
      </div>
      <div class="add-button">Add</div>
    </div>
  </div>

  <fin-man-search [control]="control"></fin-man-search>

  <div class="transactions-list">
    <fin-man-transaction-record [transactions]="transactions"></fin-man-transaction-record>
  </div>
</div>
