<div
  class="transaction-container"
  [ngClass]="{
    'transaction-container-extended': extendedPanel,
  }"
>
  <div class="header-wrapper">
    <h4 class="transaction-header">
      {{ panelTitle }}
    </h4>

    <div class="import-add-wrapper">
      <fin-man-custom-dropdown
        [innerLabel]="'Page: '"
        [options]="pageList"
        [defaultOption]="pageList[0].toString()"
        (onChangeSingle)="changePage($event)"
      ></fin-man-custom-dropdown>

      <ng-container *ngIf="isImportActive">
        <fin-man-import-transactions
          (emitImportedTransactions)="importTransactions($event)"
        ></fin-man-import-transactions>
      </ng-container>

      <div class="add-button-wrapper" (click)="openModal.emit()">
        <div class="icon-wrapper">
          <em class="icon add-icon"></em>
        </div>
        <div class="add-button">Add</div>
      </div>
    </div>
  </div>

  <fin-man-search [control]="control"></fin-man-search>

  <div
    *ngIf="extendedPanel"
    class="transactions-table-header"
    [ngClass]="{ 'transactions-table-header-incomings': transactionData[0]?.type === 'income' }"
  >
    <div class="header-cell name-col">Transaction Name</div>
    <div class="header-cell date-col">Date & Time</div>
    <div class="header-cell category-col">Category</div>
    <div class="header-cell payment-col">Payment Type</div>
    <div class="header-cell amount-col">Amount</div>
  </div>

  <div class="transactions-list">
    <fin-man-transaction-record
      *ngIf="transactionData.length"
      [categoryNames]="categoryNames"
      [transactions]="transactionsPage"
      [extendedRecord]="extendedPanel"
    ></fin-man-transaction-record>
  </div>
</div>
