<div
  class="transaction-container"
  [ngClass]="{
    'transaction-container-extended': extendedPanel && !periodTransactions,
    'transaction-container-period': extendedPanel && periodTransactions
  }"
>
  <div class="header-wrapper">
    <h4 class="transaction-header" [ngClass]="{ 'transaction-header-period': periodTransactions }">
      {{ panelTitle }}
    </h4>
    <div class="add-button-wrapper" (click)="openModal.emit()">
      <div class="icon-wrapper">
        <em class="icon add-icon"></em>
      </div>
      <div class="add-button">Add</div>
    </div>
  </div>

  <fin-man-search [control]="control"></fin-man-search>

  <!--  TODO: Add transaction counter -->
  <!--  TODO: Add arrow next to header columns for sorting operation -->

  <div
    *ngIf="extendedPanel && !periodTransactions"
    class="transactions-table-header"
    [ngClass]="{ 'transactions-table-header-incomings': categoryKind === CategoryKind.Income }"
  >
    <div class="header-cell name-col">Transaction Name</div>
    <div class="header-cell date-col">Date & Time</div>
    <div class="header-cell category-col">Category</div>
    <div class="header-cell payment-col">Payment Type</div>
    <div class="header-cell amount-col">Amount</div>
  </div>

  <div
    *ngIf="extendedPanel && periodTransactions"
    class="transactions-table-header"
    [ngClass]="{
      'transactions-table-header-period': extendedPanel && periodTransactions,
      'transactions-table-header-incomings': categoryKind === CategoryKind.Income
    }"
  >
    <div class="header-cell">Basic Info</div>
    <div class="header-cell">Next Payment</div>
    <div class="header-cell">Amount</div>
  </div>

  <div class="transactions-list">
    <fin-man-transaction-record
      *ngIf="!periodTransactions; else periodTrans"
      [transactions]="transactionData"
      [extendedRecord]="extendedPanel"
      [categoryKind]="categoryKind"
    ></fin-man-transaction-record>

    <ng-template #periodTrans>
      <fin-man-period-transaction-record
        [transactions]="periodTransactionsData"
        [categoryKind]="categoryKind"
      ></fin-man-period-transaction-record>
    </ng-template>
  </div>
</div>
