@use './colors' as colors;
@use './typography' as typography;
@use './dimensions' as dimensions;

.transaction-item {
  color: colors.$text-main;
  border-radius: dimensions.$border-radius-small;
  background-color: colors.$background-table-row;
  font-size: typography.$font-size-sm;
  width: 100%;
  height: 40px;
  margin-bottom: dimensions.$margin-small;
  padding: dimensions.$padding-xxs dimensions.$padding-md dimensions.$padding-xxs
    dimensions.$padding-small;

  display: flex;
  align-items: center;
  gap: 5px;

  .transaction-details {
    width: 100%;

    display: grid;
    grid-template-columns: 30% 10% 10% 15% 15% 19% 1%;

    .transaction-date {
      color: colors.$text-secondary;
    }

    .transaction-amount {
      &-positive {
        color: colors.$accent-green;
      }

      &-negative {
        color: colors.$accent-red;
      }
    }
  }
}
