@use './colors' as colors;
@use './typography' as typography;
@use './dimensions' as dimensions;
@use 'mixins' as mixins;

.transaction-item {
  @include mixins.transaction-items;

  .transaction-details {
    width: 100%;

    display: grid;
    align-items: center;
    grid-template-columns: dimensions.$extended-transaction-table-widths;

    &-basic {
      grid-template-columns: 50% 25% 25%;
    }

    .transaction-name {
      word-break: break-all;
    }

    .transaction-date {
      color: colors.$text-secondary;
    }

    .transaction-amount {
      text-align: end;

      &-positive {
        color: colors.$accent-green;
      }

      &-negative {
        color: colors.$accent-red;
      }
    }
  }
}
