<div *ngFor="let transaction of transactions" class="transaction-item">
  <div class="transaction-icon">
    <em class="icon" [ngClass]="transaction.category + '-icon'"></em>
  </div>

  <div class="transaction-details">
    <span class="transaction-name">{{ transaction.name }}</span>

    <div class="date-amount-container">
      <span class="transaction-date">{{ transaction.date | date: 'dd-MM-yyyy' }}</span>
      <span
        [ngClass]="{
          'transaction-amount-positive': transaction.amount > 0,
          'transaction-amount-negative': transaction.amount < 0
        }"
        >{{ transaction.amount + transaction.currencyIsoCode }}
      </span>
    </div>
  </div>
</div>
