<div *ngFor="let transaction of transactions" class="transaction-item">
  <div class="transaction-icon">
    <em class="icon" [ngClass]="transaction.category + '-icon'"></em>
  </div>

  <div class="transaction-details">
    <span class="transaction-name">{{ transaction.name }}</span>

    <span class="transaction-date">{{ transaction.date | date: 'dd-MM-yyyy' }}</span>

    <span *ngIf="isExtendedTransaction(transaction)" class="transaction-time">{{
      transaction.time
    }}</span>

    <span *ngIf="isExtendedTransaction(transaction)">
      {{ transaction.category | kebabToTitle }}</span
    >

    <span *ngIf="isExtendedTransaction(transaction)"> {{ transaction.paymentType }}</span>

    <span
      [ngClass]="{
        'transaction-amount-positive': transaction.amount > 0,
        'transaction-amount-negative': transaction.amount < 0
      }"
      >{{ transaction.amount + transaction.currencyIsoCode }}
    </span>
    <div *ngIf="extendedRecord">
      <span class="icon kebab-menu-icon"></span>
    </div>
  </div>
</div>
