<div *ngFor="let transaction of transactions" class="transaction-item">
  <div class="transaction-icon">
    <em
      class="icon"
      [ngClass]="
        (categoryNames[transaction.predefined_category_id - 1] | pascalToKebabCase) + '-icon'
      "
    ></em>
  </div>

  <div class="transaction-details" [ngClass]="{ 'transaction-details-basic': !extendedRecord }">
    <span class="transaction-name">{{ transaction.description }}</span>
    <span class="transaction-date">{{ transaction.date | date: 'dd-MM-yyyy' }} </span>
    <span *ngIf="extendedRecord"> {{ getCategoryName(transaction) }}</span>
    <span *ngIf="extendedRecord"> {{ getPaymentMethodName(transaction) }}</span>

    <span
      [ngClass]="{
        'transaction-amount': !extendedRecord,
        'transaction-amount-positive': transaction.type === 'income',
        'transaction-amount-negative': transaction.type === 'expense'
      }"
      >{{ (transaction.type === 'income' ? '' : '-') + transaction.amount + 'PLN' }}
    </span>

    <div *ngIf="extendedRecord">
      <fin-man-kebab-menu-popover
        [options]="[CrudOperations.EDIT, CrudOperations.DELETE]"
      ></fin-man-kebab-menu-popover>
    </div>
  </div>
</div>
