@use 'dimensions' as dimensions;
@use 'colors' as colors;
@use 'typography' as typography;

.sidebar {
  background-color: colors.$background-panel;
  border-radius: 0 dimensions.$border-radius-large dimensions.$border-radius-large 0;
  color: colors.$text-main;

  font-size: typography.$font-size-lg;
  font-weight: typography.$font-weight-bold;

  width: dimensions.$sidebar-menu-width;
  height: max(100vh, 100%);
  padding: dimensions.$padding-large;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: dimensions.$sidebar-nav-gap;
}
