@use 'dimensions' as dimensions;
@use 'colors' as colors;
@use 'typography' as typography;

.sidebar {
  background-color: colors.$background-panel;
  border-radius: 0 dimensions.$border-radius-large dimensions.$border-radius-large 0;
  color: colors.$text-main;

  font-size: typography.$font-size-lg;
  font-weight: typography.$font-weight-bold;

  width: dimensions.$sidebar-menu-width;
  height: max(100vh, 100%);
  padding: dimensions.$padding-large;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebarNav {
    display: flex;
    flex-direction: column;
    gap: dimensions.$sidebar-nav-gap;
  }

  .sign-out-wrapper {
    padding: dimensions.$padding-small;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      border-radius: dimensions.$border-radius-small;
      background-color: colors.$background-inner-panel-hover;
      cursor: pointer;
    }

    .sign-out-text {
      color: colors.$accent-red;

      &:hover {
        color: colors.$light-accent-red;
      }
    }
  }
}
