<aside class="sidebar">
  <nav class="sidebarNav">
    <finance-manager-menu-section
      *ngFor="let sectionClassName of sectionClassNames"
      [menuSectionClassName]="sectionClassName"
      [isActive]="activeSection === sectionClassName"
      (sectionClicked)="onSectionClick($event)"
    ></finance-manager-menu-section>
  </nav>
  <div class="sign-out-wrapper" (click)="logoutUser()">
    <span class="icon sign-out-icon"></span>
    <span class="sign-out-text">Sign Out</span>
  </div>
</aside>
