<div class="savings-panel-container">
  <div class="header-wrapper">
    <h4 class="transaction-header">{{ panelTitle }}</h4>
    <div class="add-button-wrapper" (click)="openModal.emit()">
      <div class="icon-wrapper">
        <em class="icon add-icon"></em>
      </div>
      <div class="add-button">Add</div>
    </div>
  </div>

  <div
    class="image-zone"
    [ngClass]="{
  'image-zone-image-uploaded': imageSrc,
  }"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <div *ngIf="!imageSrc" class="circle"></div>
    <em *ngIf="!imageSrc" class="icon upload-icon"></em>

    <p *ngIf="!imageSrc" class="drag-and-drop-text">Drag & Drop The Image Here</p>
    <img *ngIf="imageSrc" class="image" [src]="imageSrc" [alt]="'Dropped Image'" />
  </div>

  <div class="saving-goal-name-wrapper">
    <span class="saving-goal-name" [style]="{ color: COLORS.accentBlue }">Goal 2/5:</span>
    <span class="saving-goal-name">Wiślane Tarasy</span>
  </div>

  <fin-man-circle-progress-bar></fin-man-circle-progress-bar>

  <fin-man-progress-bar
    [max]="1000000"
    [value]="200000"
    [gradientColor]="GRADIENT_PROGRESS_BARS.BLUE"
    [isIconVisible]="false"
    [moveLabelBelowProgressBar]="true"
  ></fin-man-progress-bar>

  <span class="icon common-vector-icon vector vector-left"></span>

  <span class="icon common-vector-icon vector vector-right"></span>
</div>
