@use './colors' as colors;
@use './dimensions' as dimensions;
@use './typography' as typography;
@use './mixins' as mixins;

.savings-panel-container {
  background-color: colors.$background-panel;
  border-radius: dimensions.$border-radius-medium;
  height: 750px;
  width: 600px;
  padding: dimensions.$padding-md dimensions.$padding-md dimensions.$padding-xl
    dimensions.$padding-md;

  display: flex;
  flex-direction: column;

  position: relative;

  .header-wrapper {
    margin-bottom: dimensions.$margin-large;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .transaction-header {
      font-size: typography.$font-size-h4;
      color: colors.$accent-blue;
    }

    @include mixins.add-button;
  }

  .image-zone {
    border: 2px dashed colors.$accent-blue;
    border-radius: dimensions.$border-radius-medium;
    margin-bottom: dimensions.$margin-large;
    width: 100%;
    min-height: 200px;

    position: relative;

    &-image-uploaded {
      border-style: solid;
    }

    .circle {
      background-color: colors.$accent-blue;
      border-radius: 50%;
      width: 50px;
      height: 50px;

      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .upload-icon {
      position: absolute;
      top: 39%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    .drag-and-drop-text {
      color: colors.$text-main;

      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .image {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .saving-goal-name-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;

    .saving-goal-name {
      color: colors.$text-main;
      font-size: typography.$font-size-h4;
      font-weight: typography.$font-weight-bold;
    }
  }

  .vector {
    width: 35px;
    height: 35px;

    position: absolute;
    top: 65%;

    &-left {
      transform: rotateY(180deg);
      left: dimensions.$padding-small;
    }

    &-right {
      right: 0;
    }
  }
}
