<div class="savings-panel-container">
  <div class="header-wrapper">
    <h4 class="transaction-header">{{ panelTitle }}</h4>
    <div class="add-button-wrapper" (click)="openModal.emit()">
      <div class="icon-wrapper">
        <em class="icon add-icon"></em>
      </div>
      <div class="add-button">Add</div>
    </div>
  </div>

  <div
    *ngFor="let savingGoal of savingGoalsData; let i = index"
    [ngClass]="{ 'saving-goal-content-wrapper': i !== savingGoalIndex }"
  >
    <div
      class="image-zone"
      [ngClass]="{
  'image-zone-image-uploaded': imageSrcMap[savingGoal.uuid],
  }"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, savingGoal.uuid)"
    >
      <div *ngIf="!imageSrcMap[savingGoal.uuid]" class="circle"></div>
      <em *ngIf="!imageSrcMap[savingGoal.uuid]" class="icon upload-icon"></em>

      <p *ngIf="!imageSrcMap[savingGoal.uuid]" class="drag-and-drop-text">
        Drag & Drop The Image Here
      </p>
      <img
        *ngIf="imageSrcMap[savingGoal.uuid]"
        class="image"
        [src]="savingGoal.img"
        [alt]="savingGoal.name"
      />
    </div>

    <div class="saving-goal-name-wrapper">
      <span class="saving-goal-name" [style]="{ color: COLORS.accentBlue }"
        >Goal {{ this.savingGoalIndex + 1 + '/' + this.savingGoalsData.length }}:</span
      >
      <span class="saving-goal-name">{{ savingGoal.name }}</span>
    </div>

    <fin-man-circle-progress-bar
      [duration]="savingGoal.timeLeft"
      [startDate]="savingGoal.startDate"
      [endDate]="savingGoal.endDate"
    ></fin-man-circle-progress-bar>

    <fin-man-progress-bar
      [max]="savingGoal.totalAmount"
      [value]="savingGoal.currentAmount"
      [gradientColor]="GRADIENT_PROGRESS_BARS.BLUE"
      [isIconVisible]="false"
      [moveLabelBelowProgressBar]="true"
    ></fin-man-progress-bar>

    <span
      class="icon common-vector-icon vector vector-left"
      (click)="changeSavingGoal(false)"
    ></span>

    <span
      class="icon common-vector-icon vector vector-right"
      (click)="changeSavingGoal(true)"
    ></span>
  </div>
</div>
