@use './colors' as colors;
@use './typography' as typography;
@use './dimensions' as dimensions;

.panel-wrapper {
  background-color: colors.$background-panel;
  border-radius: dimensions.$border-radius-medium;
  width: 330px;
  height: 100px;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .panel-name {
      font-size: typography.$font-size-h3;
      color: colors.$text-link;
    }

    .panel-value {
      font-size: typography.$font-size-xxl;
      color: colors.$text-main;
    }
  }
}
