@use 'colors' as colors;
@use 'dimensions' as dimensions;
@use 'typography' as typography;

.main-container {
  margin: dimensions.$margin-large;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    background-color: colors.$background-panel;
    border-radius: dimensions.$border-radius-medium;
    padding: dimensions.$padding-xl;
    text-align: center;
    width: 400px;

    .tab {
      background-color: colors.$background-inner-panel;
      border-radius: dimensions.$border-radius-small;
      margin-bottom: 80px;
      width: 100%;
      height: dimensions.$register-tab-height;

      display: flex;

      .inner-tab {
        width: 50%;
        height: 100%;
        transition: background-color 0.3s ease;

        display: flex;
        justify-content: center;
        align-items: center;

        &-clicked {
          background: linear-gradient(45deg, colors.$accent-blue, colors.$accent-blue-hover);
          color: colors.$text-main;
        }

        &:hover {
          cursor: pointer;
          background-color: colors.$background-inner-panel-hover;
        }

        &:first-child {
          border-radius: dimensions.$border-radius-small 0 0 dimensions.$border-radius-small;
        }

        &:last-child {
          border-radius: 0 dimensions.$border-radius-small dimensions.$border-radius-small 0;
        }
      }
    }

    .form-header {
      margin-bottom: dimensions.$margin-large;

      h2 {
        color: colors.$accent-blue;
        font-size: typography.$font-size-header;
      }
    }

    .register-button {
      background-color: colors.$accent-blue;
      border: none;
      border-radius: dimensions.$border-radius-small;
      color: colors.$text-main;
      font-size: typography.$font-size-lg;
      font-weight: typography.$font-weight-semibold;
      margin-top: dimensions.$margin-xl;
      width: 100%;
      height: 50px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: colors.$accent-blue-hover;
        cursor: pointer;
      }
    }
  }
}
