@use 'colors' as colors;
@use 'dimensions' as dimensions;
@use 'typography' as typography;
@use 'mixins' as mixins;

.extended-balance-panel-container {
  background-color: colors.$background-panel;
  border-radius: dimensions.$border-radius-large;

  position: relative;

  .panel-header {
    color: colors.$accent-blue;
    font-size: typography.$font-size-h4;
    font-weight: typography.$font-weight-bold;
    padding: dimensions.$margin-small 0;
    text-align: center;
  }

  .balance-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));

    .balance-section {
      padding: dimensions.$padding-small;
      width: 100%;
      height: 100%;

      position: relative;

      .checkbox-balance-wrapper {
        color: colors.$text-supportive;
        font-size: typography.$font-size-sm;
        margin-top: -(dimensions.$margin-md);
        margin-bottom: dimensions.$margin-md;

        input[type='checkbox'] {
          appearance: none; // Ukryj domyślny wygląd checkboxa
          background-color: transparent;
          border: 2px solid colors.$text-supportive;
          border-radius: dimensions.$border-radius-xs;
          cursor: pointer;
          width: 14px;
          height: 14px;
          outline: none;
          position: relative;

          &:checked {
            background-color: colors.$text-supportive;

            &::before {
              content: '✔'; // Znak check
              color: colors.$text-main;
              font-size: typography.$font-size-xs;

              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .header {
        font-size: typography.$font-size-xl;
        position: relative;

        &-income {
          color: darken(colors.$accent-green, 15%);
        }

        &-expense {
          color: colors.$accent-red;
        }

        &-savings {
          color: colors.$accent-blue;
        }
      }

      .balance-values-wrapper {
        margin-bottom: dimensions.$margin-small;

        display: flex;
        justify-content: space-between;

        .balance {
          color: colors.$text-main;
        }
      }

      .small-chart-container {
        width: 100%;
        height: 150px;
      }
    }
  }
}
