<div class="extended-balance-panel-container">
  <p class="panel-header">Financial Balance Overview</p>

  <!-- Sekcja przychodów -->
  <div class="balance-wrapper">
    <div class="balance-section">
      <fin-man-custom-dropdown
        [optionsIds]="incomeCategoryIds"
        [options]="incomeCategoryNames"
        [defaultOption]="incomeCategoryNames[0]"
        [disabled]="checkboxValues[0].value"
        (onChangeNumber)="updateBalance($event, 'income')"
      ></fin-man-custom-dropdown>

      <div class="checkbox-balance-wrapper">
        <input type="checkbox" (change)="toggleCheckbox(0)" />
        Total Income
      </div>

      <p class="header header-income">Income</p>
      <div class="balance-values-wrapper">
        <span class="balance"
          >Total: {{ checkboxValues[0].value ? totalIncome : incomeBalance }}</span
        >
      </div>
    </div>

    <!-- Sekcja wydatków -->
    <div class="balance-section">
      <fin-man-custom-dropdown
        [optionsIds]="expenseCategoryIds"
        [options]="expenseCategoryNames"
        [defaultOption]="expenseCategoryNames[0]"
        [disabled]="checkboxValues[1].value"
        (onChangeNumber)="updateBalance($event, 'expense')"
      ></fin-man-custom-dropdown>

      <div class="checkbox-balance-wrapper">
        <input type="checkbox" (change)="toggleCheckbox(1)" />
        Total Expenses
      </div>

      <p class="header header-expense">Expenses</p>
      <div class="balance-values-wrapper">
        <span class="balance"
          >Total: {{ checkboxValues[1].value ? totalExpense : expenseBalance }}</span
        >
      </div>
    </div>

    <!-- Sekcja oszczędności -->
    <div class="balance-section">
      <fin-man-custom-dropdown
        [placeholder]="'Total Savings'"
        [disabled]="true"
      ></fin-man-custom-dropdown>

      <div class="checkbox-balance-wrapper">
        <input disabled checked type="checkbox" (change)="toggleCheckbox(2)" />
        Total Savings
      </div>

      <p class="header header-savings">Savings</p>
      <div class="balance-values-wrapper">
        <span class="balance">Total: {{ totalSavings }}</span>
      </div>
    </div>
  </div>
</div>
