@use './colors' as colors;
@use './dimensions' as dimensions;

.search-wrapper {
  background-color: colors.$background-table-row;
  border-radius: dimensions.$border-radius-small;
  width: 100%;
  min-width: 250px;
  height: 35px;
  margin: dimensions.$margin-small 0 dimensions.$margin-large;
  padding: 0 20px 0 7px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-input {
    width: 100%;
  }
}
