@use 'mixins' as mixins;
@use 'dimensions' as dimensions;
@use 'typography' as typography;
@use 'colors' as colors;

.modal-overlay {
  @include mixins.modal-overlay;

  .modal {
    @include mixins.modal;

    .modal-body {
      .horizontal-form-groups {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }

      .form-group {
        width: 100%;

        textarea {
          background-color: colors.$background-inner-panel;
          border: none;
          border-radius: dimensions.$border-radius-small;
          color: colors.$text-main;
          font-size: typography.$font-size-base;
          margin-bottom: dimensions.$margin-large;
          padding: dimensions.$padding-xs;
          outline: none;
          width: 100%;

          &:focus {
            @include mixins.input-border(colors.$accent-blue);
          }
        }
      }

      @include mixins.add-button-modal;
    }
  }
}
