<div *ngIf="!isLoading" class="investment-portfolio-wrapper">
  <router-outlet name="menu"></router-outlet>

  <div class="investment-portfolio-content-container">
    <div class="title-container">
      <span class="title">Investment Potfolio</span>
      <span class="subtitle">All your investments in one place</span>
    </div>

    <fin-man-dynamic-investment-panel
      [portfolioData]="portfolioData"
      [assetTypesData]="assetTypesData"
      (openModal)="openModal()"
      (openPortfolioModal)="openPortfolioModal()"
      (editAsset)="openModal()"
      (deleteAsset)="deleteAsset($event)"
    ></fin-man-dynamic-investment-panel>

    <fin-man-transaction-panel [transactionData]="[]"></fin-man-transaction-panel>
  </div>
</div>

<finance-manager-investment-portfolio-modal-portfolio
  [isVisible]="isPortfolioModalVisible"
  (close)="closePortfolioModal()"
  (portfolioAdded)="handlePortfolioAdded($event)"
></finance-manager-investment-portfolio-modal-portfolio>

<finance-manager-investment-portfolio-modal
  [isVisible]="isModalVisible"
  [assetTypesData]="assetTypesData"
  [assetData]="[]"
  (close)="closeModal()"
  (assetAdded)="handleAssetAdded($event)"
  (assetUpdated)="handleAssetUpdated($event)"
></finance-manager-investment-portfolio-modal>
