<div *ngIf="!isLoading" class="investment-portfolio-wrapper">
  <router-outlet name="menu"></router-outlet>

  <div class="investment-portfolio-content-container">
    <div class="title-container">
      <span class="title">Investment Portfolio</span>
      <span class="subtitle">All your investments in one place</span>
    </div>

    <fin-man-dynamic-investment-panel
      [portfolioData]="portfolioData"
      [assetTypesData]="assetTypesData"
      [assetData]="assetData"
      (openModal)="openModal()"
      (openPortfolioModal)="openPortfolioModal()"
      (openTransactionModal)="openTransactionModal()"
      (editAsset)="openModal($event)"
      (deleteAsset)="deleteAsset($event)"
    ></fin-man-dynamic-investment-panel>

    <fin-man-portfolio-panel
      [portfolios]="portfolioData"
      (openPortfolioModal)="openPortfolioModal($event)"
    ></fin-man-portfolio-panel>
  </div>
</div>

<finance-manager-investment-portfolio-modal-portfolio
  *ngIf="isPortfolioModalVisible"
  [isVisible]="isPortfolioModalVisible"
  [selectedPortfolio]="selectedPortfolio"
  (close)="closePortfolioModal()"
></finance-manager-investment-portfolio-modal-portfolio>

<finance-manager-investment-portfolio-modal
  *ngIf="isModalVisible"
  [isEdit]="isEdit"
  [portfolioData]="portfolioData"
  [isVisible]="isModalVisible"
  [assetTypesData]="assetTypesData"
  [assetToUpdate]="selectedAsset"
  (close)="closeModal()"
  (assetAdded)="handleAssetAdded($event)"
  (assetUpdated)="handleAssetUpdated($event)"
></finance-manager-investment-portfolio-modal>

<finance-manager-investment-portfolio-modal-transaction
  *ngIf="isTransactionModalVisible"
  [portfolioData]="portfolioData"
  [assetData]="assetData"
  [isVisible]="isTransactionModalVisible"
  (close)="closeTransactionModal()"
></finance-manager-investment-portfolio-modal-transaction>
