@use 'colors' as colors;
@use 'dimensions' as dimensions;
@use 'typography' as typography;
@use 'mixins' as mixins;

.modal-overlay {
  @include mixins.modal-overlay;

  .modal {
    @include mixins.modal;

    .modal-body {
      .form-group {
        margin-bottom: dimensions.$margin-large;

        .default-option {
          color: colors.$text-secondary;
        }
      }

      .form-group input,
      .form-group select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
      }
    }

    .dropdown {
      background-color: colors.$background-table-row;
      border: none;
      border-radius: dimensions.$border-radius-small;
      color: colors.$text-main;
      cursor: pointer;
      font-size: typography.$font-size-base;
      font-weight: typography.$font-weight-semibold;
      margin-top: dimensions.$margin-xs;
      width: 75px;
      height: 40px;
      outline: none;
      padding-left: dimensions.$padding-xs;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: colors.$background-table-row-hover;
      }
    }

    @include mixins.add-button-modal;
  }
}
