<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal">
    <div class="modal-header">
      <h2>{{ assetData ? 'Edytuj Aktywo' : 'Dodaj Nowe Aktywo' }}</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>

    <div class="modal-body">
      <form [formGroup]="assetFormGroup">
        <div class="form-group">
          <fin-man-custom-dropdown
            [label]="'Portfolio Kind'"
            [options]="['portfolio1', 'portfolio2']"
            [defaultOption]="'portfolio1'"
            [placeholder]="'Select Portfolio'"
            [control]="assetFormGroup.controls.portfolioId"
          ></fin-man-custom-dropdown>
        </div>

        <div class="form-group">
          <fin-man-custom-dropdown
            [label]="'Asset Kind'"
            [optionsIds]="assetTypeKeys"
            [options]="Object.values(AssetTypeMap)"
            [defaultOption]="Object.values(AssetTypeMap)[0]"
            [control]="assetFormGroup.controls.assetTypeId"
          ></fin-man-custom-dropdown>
        </div>

        <div class="form-group">
          <fin-man-input
            [type]="'text'"
            [label]="'Name'"
            [placeholder]="'Enter asset name'"
            [control]="assetFormGroup.controls.name"
          ></fin-man-input>
        </div>

        <div
          *ngIf="
            assetFormGroup.controls.assetTypeId.value === AssetTypes.Stock ||
            assetFormGroup.controls.assetTypeId.value === AssetTypes.Cryptocurrency
          "
          class="form-group"
        >
          <fin-man-custom-dropdown
            [label]="'Ticker'"
            [options]="[]"
            [control]="assetFormGroup.controls.ticker"
          ></fin-man-custom-dropdown>
        </div>

        <div
          *ngIf="assetFormGroup.controls.assetTypeId.value === AssetTypes.Stock"
          class="form-group"
        >
          <fin-man-input
            [type]="'number'"
            [label]="'Dividend Yield'"
            [control]="assetFormGroup.controls.dividendYield"
          ></fin-man-input>
        </div>

        <div
          *ngIf="assetFormGroup.controls.assetTypeId.value === AssetTypes.Bonds"
          class="form-group"
        >
          <fin-man-input
            [type]="'number'"
            [label]="'Coupon Rate'"
            [control]="assetFormGroup.controls.couponRate"
          ></fin-man-input>
        </div>

        <div
          *ngIf="assetFormGroup.controls.assetTypeId.value === AssetTypes.Bonds"
          class="form-group"
        >
          <fin-man-input
            [type]="'date'"
            [label]="'Maturity Date'"
            [control]="assetFormGroup.controls.maturityDate"
          ></fin-man-input>
        </div>

        <div
          *ngIf="assetFormGroup.controls.assetTypeId.value === AssetTypes.Bonds"
          class="form-group"
        >
          <fin-man-input
            [type]="'number'"
            [label]="'Face Value'"
            [control]="assetFormGroup.controls.faceValue"
          ></fin-man-input>
        </div>

        <div
          *ngIf="assetFormGroup.controls.assetTypeId.value === AssetTypes.ETF"
          class="form-group"
        >
          <fin-man-custom-dropdown
            [label]="'Accumulation'"
            [options]="['Yes', 'No']"
            [control]="assetFormGroup.controls.accumulation"
          ></fin-man-custom-dropdown>
        </div>

        <div class="form-group">
          <fin-man-input
            [label]="'Current Value'"
            [control]="assetFormGroup.controls.currentValue"
          ></fin-man-input>
        </div>

        <div class="form-group">
          <fin-man-input
            [type]="'date'"
            [label]="'Created At'"
            [control]="assetFormGroup.controls.createdAt"
          ></fin-man-input>
        </div>

        <div class="add-button-modal-wrapper">
          <div class="add-button" (click)="onSubmit()">
            {{ assetData ? 'Edytuj Aktywo' : 'Dodaj Nowe Aktywo' }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
