@use 'colors' as colors;
@use 'dimensions' as dimensions;
@use 'typography' as typography;
@use 'mixins' as mixins;

.modal-overlay {
  @include mixins.modal-overlay;

  .modal {
    @include mixins.modal;

    @include mixins.add-button-modal;

    .form-group {
      width: 100%;
    }
  }
}

.horizontal-form-groups {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
