<main class="dashboard-container">
  <router-outlet name="menu"></router-outlet>

  <div class="dashboard-content-container">
    <div class="title-container">
      <span class="title">Dashboard</span>
      <span class="subtitle">All your finance in one place</span>
    </div>

    <div class="panels-container">
      <fin-man-basic-info-panel
        [iconName]="'savings'"
        [panelName]="'Money Saved'"
        [panelValue]="'12 534 PLN'"
      ></fin-man-basic-info-panel>

      <fin-man-basic-info-panel
        [iconName]="'savings'"
        [panelName]="'Money Saved'"
        [panelValue]="'12 534 PLN'"
      ></fin-man-basic-info-panel>

      <fin-man-basic-info-panel
        [iconName]="'savings'"
        [panelName]="'Money Saved'"
        [panelValue]="'12 534 PLN'"
      ></fin-man-basic-info-panel>

      <fin-man-basic-info-panel
        [iconName]="'savings'"
        [panelName]="'Money Saved'"
        [panelValue]="'12 534 PLN'"
      ></fin-man-basic-info-panel>
    </div>

    <div class="chart-transactions-container">
      <fin-man-charts [dataSets]="dataSets"></fin-man-charts>

      <fin-man-transaction-panel (openModal)="openModal()"></fin-man-transaction-panel>
    </div>
  </div>
</main>

<finance-manager-add-transaction-modal
  [isVisible]="isModalVisible"
  (close)="closeModal()"
  (transactionAdded)="handleTransactionAdded($event)"
></finance-manager-add-transaction-modal>
