<main class="dashboard-container">
  <router-outlet name="menu"></router-outlet>

  <div class="dashboard-content-container">
    <div class="title-container">
      <span class="title">Dashboard</span>
      <span class="subtitle">All your finance in one place</span>
    </div>

    <div class="panels-container">
      <fin-man-basic-info-panel
        [iconName]="'savings'"
        [panelName]="'Money Saved'"
        [panelValue]="'12 534 PLN'"
      ></fin-man-basic-info-panel>

      <fin-man-basic-info-panel
        [iconName]="'savings'"
        [panelName]="'Money Saved'"
        [panelValue]="'12 534 PLN'"
      ></fin-man-basic-info-panel>

      <fin-man-basic-info-panel
        [iconName]="'savings'"
        [panelName]="'Money Saved'"
        [panelValue]="'12 534 PLN'"
      ></fin-man-basic-info-panel>

      <fin-man-basic-info-panel
        [iconName]="'savings'"
        [panelName]="'Money Saved'"
        [panelValue]="'12 534 PLN'"
      ></fin-man-basic-info-panel>
    </div>

    <div class="chart-transactions-container">
      <fin-man-pie-chart></fin-man-pie-chart>

      <fin-man-transaction-panel></fin-man-transaction-panel>
    </div>
  </div>
</main>
