<main *ngIf="!isLoading" class="dashboard-container">
  <router-outlet name="menu"></router-outlet>

  <div class="dashboard-content-container">
    <div class="title-container">
      <span class="title">Dashboard</span>
      <span class="subtitle">All your finance in one place</span>
    </div>

    <fin-man-charts [dataSets]="dataSets" [chartData]="chartData"></fin-man-charts>

    <fin-man-transaction-panel
      [categoryNames]="categoryNames"
      [transactionData]="userTransactions"
      [isImportActive]="true"
      (openModal)="openModal()"
    ></fin-man-transaction-panel>
  </div>
</main>

<finance-manager-add-transaction-modal
  *ngIf="
    isModalVisible && expenseCategories.length && incomeCategories.length && paymentMethods.length
  "
  [isVisible]="isModalVisible"
  [expenseCategories]="expenseCategories"
  [incomeCategories]="incomeCategories"
  [paymentMethods]="paymentMethods"
  (close)="closeModal()"
></finance-manager-add-transaction-modal>
