@use 'dimensions' as dimensions;
@use 'colors' as colors;
@use 'typography' as typography;
@use 'mixins' as mixins;

.input-wrapper {
  margin-bottom: dimensions.$margin-large;
  position: relative;

  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;

  .input-label {
    color: colors.$text-main;
    margin-bottom: dimensions.$margin-xxs;
  }

  .input {
    background-color: colors.$background-inner-panel;
    border: none;
    border-radius: dimensions.$border-radius-small;
    color: colors.$text-main;

    width: 100%;
    height: dimensions.$input-height;
    padding: dimensions.$padding-xs 50px dimensions.$padding-xs dimensions.$padding-small;

    &-thin {
      height: 30px;
    }

    &::placeholder {
      color: colors.$text-secondary;
      opacity: 1;
    }

    &:focus {
      background-color: colors.$background-inner-panel-hover;
      @include mixins.input-border(colors.$accent-blue);
    }

    &-error {
      @include mixins.input-border(colors.$light-accent-red);
    }
  }

  .error-container {
    color: colors.$light-accent-red;
    font-size: typography.$font-size-sm;
    font-weight: typography.$font-weight-regular;
    margin-top: dimensions.$margin-xxs;
    opacity: 0.5;
    width: 100%;

    display: flex;
    align-items: flex-start;

    .error-message {
      text-align: left;
    }
  }

  .input-icon {
    width: dimensions.$input-icon-size;
    height: dimensions.$input-icon-size;

    position: absolute;
    right: 0;
    top: 34px;
  }
}

.search-input {
  border: none !important;
  background: transparent !important;
  font-size: typography.$font-size-sm;
  outline: none !important;
  height: 100% !important;
  padding: 0 !important;
  transform: translateY(10px);
}

/* For Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: url('../../../../img/common/CalendarIcon.svg') no-repeat;
  width: 20px;
  height: 20px;

  position: absolute;
  right: 10px;
}

input[type='time']::-webkit-calendar-picker-indicator {
  background: url('../../../../img/common/TimeIcon.svg') no-repeat;
  width: 20px;
  height: 20px;

  position: absolute;
  right: 10px;
}
