<main class="expense-container">
  <router-outlet name="menu"></router-outlet>

  <div class="expense-content-container">
    <div class="title-container">
      <span class="title">Expenses</span>
      <span class="subtitle">Track your expenses as you wish</span>
    </div>

    <div class="content-wrapper">
      <div class="one-side-positioning">
        <fin-man-extended-balance-panel></fin-man-extended-balance-panel>

        <fin-man-transaction-panel
          [extendedPanel]="true"
          (openModal)="openModal()"
        ></fin-man-transaction-panel>
      </div>

      <div class="one-side-positioning">
        <fin-man-pie-chart
          [title]="'Expenses Distribution'"
          [subtitle]="'Share of the categories in total expenses'"
          [smallChart]="true"
        ></fin-man-pie-chart>

        <fin-man-transaction-panel
          [extendedPanel]="true"
          [periodTransactions]="true"
          [panelTitle]="'Period Expenses'"
        ></fin-man-transaction-panel>
      </div>
    </div>
  </div>
</main>

<finance-manager-add-transaction-modal
  [isVisible]="isModalVisible"
  (close)="closeModal()"
  (transactionAdded)="handleTransactionAdded($event)"
></finance-manager-add-transaction-modal>
