<section
  class="menu-section"
  [ngClass]="{
    'menu-section-clicked': !isExpandable && isActive,
    'menu-section-expanded': isExpandable && isActive
  }"
>
  <a
    class="menu-item"
    [routerLink]="!isExpandable ? ['/', menuSectionClassName] : null"
    [ngClass]="{
      'menu-item-expanded-highlight': isExpandable && isActive && !subsectionNameClicked
    }"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (click)="onClick()"
  >
    <div class="menu-item-position">
      <em
        class="icon"
        [ngClass]="[
          menuSectionClassName + '-icon-basic',
          this.isHovered || this.isActive ? menuSectionClassName + '-icon-highlighted' : ''
        ]"
      ></em>
      <!-- Use ngClass bcs we want to highlight it when mouse is inside the section, not only on the text -->
      <span [ngClass]="{ 'menu-name-hovered': this.isHovered || this.isActive }">{{
        menuSectionClassName | kebabToTitle
      }}</span>
    </div>

    <em
      *ngIf="isExpandable"
      class="icon vector-icon-basic"
      [ngClass]="{ 'vector-icon-highlighted': this.isHovered || this.isActive }"
    ></em>
  </a>

  <div *ngIf="isExpandable && isActive" class="tree">
    <finance-manager-menu-subsection
      *ngFor="let subsection of subsectionClassNames; let i = index"
      [sectionClassName]="menuSectionClassName"
      [subsectionName]="subsection"
      [lastSubsection]="i === subsectionClassNames.length - 1"
      [highlightMainLine]="
        highlightAboveSubsections.includes(i) || highlightAboveSubsectionsClicked.includes(i)
      "
      [subsectionNameClicked]="subsectionNameClicked"
      [subsectionNameHovered]="subsectionNameHovered"
      [isSubsectionActive]="subsectionNameClicked === subsection"
      (subsectionClicked)="onSubsectionClick($event)"
      (subsectionHovered)="onSubsectionHover($event)"
    ></finance-manager-menu-subsection>
  </div>
</section>
