<div class="custom-dropdown-wrapper">
  <label *ngIf="label" class="dropdown-label">{{ label }}</label>

  <div class="custom-dropdown-select-wrapper" [ngClass]="{ active: isOpen }">
    <div
      class="custom-dropdown-select"
      [ngClass]="{
        'custom-dropdown-select-clicked': isOpen && !disabled,
        'custom-dropdown-select-disabled': disabled,
        'custom-dropdown-select-thin-dropdown': thinDropdown
      }"
      [ngStyle]="{ 'background-color': backgroundStyleColor }"
      (click)="toggleDropdown()"
    >
      <ng-container *ngIf="isMultiSelect; else singleSelectDisplay">
        <span *ngIf="selectedOptions.length > 0; else placeholderDisplay">
          {{ selectedOptions.length }} selected
        </span>
        <ng-template #placeholderDisplay>
          {{ placeholder }}
        </ng-template>
      </ng-container>
      <ng-template #singleSelectDisplay>
        <span *ngIf="selected; else defaultOrPlaceholder">
          {{ innerLabel + getDisplayValue(selected) }}
        </span>
        <ng-template #defaultOrPlaceholder>
          {{ innerLabel + defaultOption || defaultOptionNumber || placeholder }}
        </ng-template>
      </ng-template>
      <div>
        <span class="icon common-vector-icon" [ngClass]="{ up: isOpen }"></span>
      </div>
    </div>

    <div *ngIf="isOpen && isSearchable" class="search-input">
      <fin-man-input
        [type]="'text'"
        [placeholder]="'Search...'"
        [control]="control"
        [allowedCharsPattern]="'[a-zA-Z0-9]'"
        (keyup.enter)="onSearch($event)"
      ></fin-man-input>
    </div>

    <ul *ngIf="isOpen" class="custom-dropdown-option-wrapper">
      <li
        *ngFor="let option of options"
        class="custom-dropdown-option"
        [ngStyle]="{ 'background-color': backgroundStyleColor }"
      >
        <label *ngIf="isMultiSelect; else singleSelectLabel" class="multi-select-label">
          <input
            type="checkbox"
            [checked]="selectedOptions.includes(option)"
            (change)="selectOptionMulti(option)"
            (click)="$event.stopPropagation()"
          />
          <span>{{ option }}</span>
        </label>

        <ng-template #singleSelectLabel>
          <div class="single-select-label" (click)="selectOption(option)">{{ option }}</div>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
